# Файлы операционной системы
.DS_Store
Thumbs.db

# Локальные конфигурации
.env
.env.local
.env.*.local

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Фронтенд (React, Vue, Angular и т.д.)
/frontend/build/
/frontend/dist/
/frontend/.cache/

# Бэкенд (Node.js, Express и т.д.)
/backend/dist/
/backend/logs/
/backend/uploads/

# IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Логи и временные файлы
*.log
*.tmp
*.swp